{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/post.css' %}" rel="stylesheet" />
    </head>
    <body>
      <!-- Responsive navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Publicaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h5 class="fw-bolder mb-1">¿Qué es trading?</h5>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Publicado el 25 de Julio de 2023 by Javier</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'img/trading.jpg' %}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Las personas que ejercen la profesión de trading se les conoce como traders (o alternativamente, operadores o negociantes por cuenta propia), los cuales pueden trabajar de forma independiente, en un fondo de inversión, en un banco o en otra entidad financiera.</p>
                            <p class="fs-5 mb-4">En las finanzas descentralizadas el trading a corto plazo se produce cuando compras una criptomoneda y la retienes por un breve período de tiempo, para luego generar ganancias con su venta, ya que la idea es que el precio de éstas debería aumentar a largo plazo.</p>
                            <p class="fs-5 mb-4"></p>
                            
                        </section>
                    </article>         
                    
                </div>
                                <!-- Side widgets-->
                                <div class="col-lg-4">
                                    <!-- Search widget-->
                                    <div class="card mb-4">
                                        <div class="card-header">Buscar</div>
                                        <div class="card-body">
                                            <div class="input-group">
                                                <input class="form-control" type="text" placeholder="Buscar..." aria-label="Enter search term..." aria-describedby="button-search" />
                                                <button class="btn btn-primary" id="button-search" type="button">➤</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Categories widget-->
                                    <div class="card mb-4">
                                        <div class="card-header">Informate</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#!">¿Qué son las DeFi?</a></li>
                                                        <li><a href="#!">¿Qué son las blockchains?</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-7">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#!">¿Qué son los tokens?</a></li>
                                                        <li><a href="#!">¿Qué es trading?</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Side widget-->
                                    <div class="card mb-4">
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            
                                            <!--esto es el login-->
                                            <form>
                                                <div class="form-floating mb-3">
                                                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                  <label for="floatingInput">Correo electrónico</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                                  <label for="floatingPassword">Contraseña</label>
                                                </div>
                                
                                                <div class="form-check mb-3">
                                                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                                  <label class="form-check-label" for="rememberPasswordCheck">
                                                    Recuerda mi contraseña
                                                  </label>
                                                </div>
                                
                                                <div class="d-grid">
                                                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Iniciar sesión</button>
                                                  <div class="text-center">
                                                    <a class="small" href="#">¿Olvidaste tu contraseña?</a>
                                                  </div>
                                                </div>
                                
                                              </form>
                                              <!--esto es el login-->
                
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">GRUPO 1 - INFORMATORIO 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src=""></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js'%}"></script>  
    </body>
</html>